<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <% include ../partials/stylepayment %>
    <script src="/reload/reload.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/nepali-date-picker@2.0.0/dist/nepaliDatePicker.min.css" integrity="sha384-Fligaq3qH5qXDi+gnnhQctSqfMKJvH4U8DTA+XGemB/vv9AUHCwmlVR/B3Z4nE+q" crossorigin="anonymous">
    <style type="text/css">
         table,tr,th,td
{
    border:1px solid black;
  
    font-size: 12px !important;
    font-weight: bold;
}
    </style>
   
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="row mt-4">
            <div class="col-md-2">
                <% include ../partials/kaathdaurastatus %>
            </div>
            <div class="col-md-7 ">
             <p class="text-center nodata" style="display: none;">डाटा उपलब्ध भएन</p>
                <table id="status"  cellspacing="0" class="table col-12 ">
                    <tr  class="row firstrow m-0 text-center">
                <th class="col-md-2">गुल्ली नं</th>
                <th class="col-md-3">काठकाे नाम</th>
                <th class="col-md-2">परिमाण</th>
                <th class="col-md-2">युनिट</th>
                <th class="col-md-3">स्थिति</th>
            </tr>
            
                            <% results.forEach(function(result,count) { %>

                            
                            <tr  class="row m-0 text-center" id="<%=result.kaathname %>">
                                    

                            <td class="col-md-2"> <%= result.gullino %></td>
                            <td class="col-md-3"> <%= result.kaathname %></td>
                            <td class="col-md-2"> <%= result.quantity %> </td>
                            <td class="col-md-2"><%= result.unit %></td>
                            <td class="col-md-3"><%= result.status %></td>
                        </tr>
                            <%  }) %>
                        </table>
            </div>

            <div class="col-md-1">
            </div>
            <div class="col-md-2">
             <nav class="nav mt-n2 flex-column" style="color:red; border:1px solid green; box-shadow:2px 2px green;"   >
                    <a style="color:red; border:1px solid green; box-shadow:2px 2px green;" class="nav-link" href="/kaathdaura">बिक्री</a>
                    <a data-target="#kaathbibaranform" id="kaathformclick" data-toggle="modal" style="color:red; border:1px solid green; box-shadow:2px 2px green;" class="nav-link">काठ विवरण</a>
                    <a data-target="#kaathnameModal"  data-toggle="modal" style="color:red; border:1px solid green; box-shadow:2px 2px green;" class="nav-link">काठको नाम जोड्नुहोस्</a>
                    <a id="kaathformclick" href="/kaathdaurastatus" style="color:red; border:1px solid green; box-shadow:2px 2px green;" class="nav-link">काठ/दाउरा रेकर्ड</a>
                    <a data-target="#daurabibaranform" id="kaathformclick" data-toggle="modal" style="color:red; border:1px solid green; box-shadow:2px 2px green;" class="nav-link"> दाउरा विवरण</a>
                    <a id="kaathformclick" href="/banpaidawar" style="color:red; border:1px solid green; box-shadow:2px 2px green;" class="nav-link">वन पैदावर</a>
                </nav>
            </div>
        </div>
    </main>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/nepali-date-picker@2.0.0/dist/jquery.nepaliDatePicker.min.js" integrity="sha384-bBN6UZ/L0DswJczUYcUXb9lwIfAnJSGWjU3S0W5+IlyrjK0geKO+7chJ7RlOtrrF" crossorigin="anonymous"></script>
  
  
 
   <!--  <script src="../js/kaathbibaran.js"></script> -->

     <script type="text/javascript">
              function displaydata(value)
              {
                var tabledata= $('table#status tr');
                var loop=0;
                console.log(tabledata);
                // console.log(tabledata[0].id);
                // if(tabledata.length>1)

                // {
               
                // $('table').show();
                for(i=1;i<tabledata.length;i++)
                {

                if(tabledata[i].id===value)
                {
                    // $('table#status tr').eq(0).show();
                console.log(value);
                
                $('tr#'+`${tabledata[i].id}`).show();
                loop=1;
                 $('p.nodata').hide();
                }
                else
                {
                loop=1;
                console.log(value)
                $('tr#'+`${tabledata[i].id}`).hide()
                }
                
                }
            
        }
        // else
        // {
            // $('table tr#firstrow').hide();
        //     $('p.nodata').show();
        //       }
        // }
          </script>
</body>

</html>